<h1>Ahhh...Facebook.</h1>
<br>
<h3>The bain of our existence. The time-suck. The drug. The FMO. And yet, you can't leave...</h3>
<br>
<h3>They say, if you hate Facebook, you hate people. Or maybe it's simply a reflection of who we are?</h3>
<br>

<%= button_to "HAVE YOUR SAY", new_quiz_path, :class => "button", :method => :get  %>
<!--<form action="/" method="post">
  <button>HAVE YOUR SAY</button>
</form>-->
<p> Find out what other people like you hate about Facebook the most.</p>
